<div class="auth-pantalla">

  <div class="lado-imagen">
    <img src="/img/login.png" alt="Biblioteca"> 
  </div>

  <div class="lado-login">
    <div class="auth-card">

      <div class="auth-header">

        <div class="logo-container">
          <mat-icon class="icono-logo">menu_book</mat-icon> //Muestra el ícono de libro de Angular Material
        </div>
         <h2>Mi Biblioteca</h2>
        <p>Tu mundo, tus historias.</p>

        <h3>Iniciar Sesión</h3>
      
      </div>



<form (ngSubmit)="iniciarSesion()" class="auth-form">

  <!-- Correo -->
  <div class="grupo-campo">
    <span class="titulo-campo">Correo electrónico</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">mail</mat-icon>

      <input
        matInput
        type="email"
        [(ngModel)]="correo"
        name="correo"
        placeholder="ejemplo@gmail.com"
        required>
    </mat-form-field>
  </div>

  <!-- Contraseña -->
  <div class="grupo-campo">
    <span class="titulo-campo">Contraseña</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">lock</mat-icon> //lock → ícono de candado.matPrefix → lo coloca al inicio del campo.

      <input
        matInput
        [type]="ocultarPassword ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        placeholder="Ingresa tu contraseña"
        required>

      <button
        mat-icon-button
        matSuffix
        type="button"
        class="btn-ojito"
        (click)="ocultarPassword = !ocultarPassword">

        <mat-icon>
          {{ ocultarPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </button>

    </mat-form-field>
  </div>

  <div class="contenedor-boton">
    <button
      mat-flat-button
      class="btn-entrar"
      type="submit"
      [disabled]="!correo || !password">

      Iniciar Sesión

    </button>

  </div>

  <div class="registro-link">
  <span>¿No tienes una cuenta?</span>

  <a routerLink="/registro">
    Regístrate
  </a>
</div>

</form>