<div class="auth-pantalla">

  <div class="lado-imagen">
    <img src="/img/registro.jpg" alt="Biblioteca">
  </div>

  <div class="lado-login">
    <div class="auth-card">

      <div class="auth-header">

        <div class="logo-container">
          <mat-icon class="icono-logo">menu_book</mat-icon>
        </div>
         <h2>Mi Biblioteca</h2>

        <p>Tu mundo, tus historias.</p>

        <h3>Crear una cuenta</h3>
        <p>Únete y comienza a organizar tus libros.</p>

      </div>

<form (ngSubmit)="registrar()" class="auth-form">

  <!-- Nombre completo -->
  <div class="grupo-campo">
    <span class="titulo-campo">Nombre completo</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">person</mat-icon>

      <input
        matInput
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Ej. Maria Fernanda"
        required>
    </mat-form-field>
  </div>

  <!-- Correo -->
  <div class="grupo-campo">
    <span class="titulo-campo">Correo electrónico</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">mail</mat-icon>

      <input
        matInput
        type="email"
        [(ngModel)]="correo"
        name="correo"
        placeholder="ejemplo@gmail.com"
        required>
    </mat-form-field>
  </div>

  <!-- Contraseña -->
  <div class="grupo-campo">
    <span class="titulo-campo">Contraseña</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">lock</mat-icon>

      <input
        matInput
        [type]="ocultarPassword ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        placeholder="Ingresa tu contraseña"
        required>

      <button
        mat-icon-button
        matSuffix
        type="button"
        class="btn-ojito"
        (click)="ocultarPassword = !ocultarPassword">

        <mat-icon>
          {{ ocultarPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </button>
    </mat-form-field>
  </div>

  <!-- Confirmar contraseña -->
  <div class="grupo-campo">
    <span class="titulo-campo">Confirmar contraseña</span>

    <mat-form-field appearance="outline" class="campo-full-width">
      <mat-icon matPrefix class="icono-gris">lock_outline</mat-icon>

      <input
        matInput
        [type]="ocultarConfirmPassword ? 'password' : 'text'"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Repite tu contraseña"
        required>

      <button
        mat-icon-button
        matSuffix
        type="button"
        class="btn-ojito"
        (click)="ocultarConfirmPassword = !ocultarConfirmPassword">

        <mat-icon>
          {{ ocultarConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </button>
    </mat-form-field>
  </div>

  <button
    mat-flat-button
    class="btn-entrar"
    type="submit"
    [disabled]="!nombre || !correo || !password || !confirmPassword || password !== confirmPassword">

    Registrarse

  </button>

<div class="login-link">
  <span>¿Ya tienes una cuenta?</span>

  <a routerLink="/login">
    Inicia sesión
  </a>
</div>
  

</form>