.auth-pantalla {
  display: flex;
  min-height: 100vh;
  background: #F5FBF5;
}

/* Imagen izquierda */
.lado-imagen {
  width: 28%;
  min-width: 280px;
}

.lado-imagen img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

/* Login derecha */
.lado-login {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 420px;
}

/* Encabezado */
.auth-header {
  text-align: center;
  margin-bottom: 1.8rem;

  .icono-logo {
    font-size: 48px;
    width: 48px;
    height: 48px;
    color: #1F6B46;
    margin-bottom: 0.8rem;
  }

  h2 {
  margin: 0;
  font-size: 2.2rem;
  font-family: Georgia, serif;
  font-weight: 500;
  color: #222;
}

  p {
    color: #6b7280;
    font-size: 0.95rem;
    margin: 2;
  }
}

/* Formulario */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grupo-campo {
  width: 100%;
}

.titulo-campo {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  text-align: left;
}

.campo-full-width {
  width: 100%;
}

.icono-gris {
  color: #9ca3af;
  margin-right: 8px;
}

.btn-ojito {
  color: #9ca3af;
}

.btn-entrar {
  
  height: 52px;
  border-radius: 8px !important;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  width: 100%;

  &:disabled {
    border-radius: 30px !important;
  background-color: #3E8F7C !important;
  color: white !important;
  
  }
}

/* Footer */
.auth-footer {
  text-align: center;
  margin-top: 1.5rem;

  p {
    color: #6b7280;
    font-size: 0.95rem;
  }

  .link-accion {
    color: #2e5c53;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: #1f423b;
    }
  }
}

/* Angular Material */
::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 8px !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}