.auth-pantalla {
  display: flex;
  min-height: 100vh;
  background: #e9f8e9;
}

/* Imagen izquierda */
.lado-imagen {
  width: 28%;
  min-width: 280px;
}

.lado-imagen img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

/* Panel derecho */
.lado-login {
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 100%;
  max-width: 420px;
}

/* Encabezado */
.auth-header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icono-logo {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #1F6B46;
}

.auth-header h2 {
  margin: 0;
  font-size: 2.2rem;
  font-family: Georgia, serif;
  font-weight: 500;
  color: #222;
}

.auth-header p {
  margin-top: 0.3rem;
  color: #6B7280;
  font-size: 0.9rem;
}

/* Formulario */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grupo-campo {
  width: 100%;
}

.titulo-campo {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  text-align: left;
}

.campo-full-width {
  width: 100%;
}

.icono-gris {
  color: #9ca3af;
  margin-right: 8px;
}

.btn-ojito {
  color: #9ca3af;
}

/* Botón */
.contenedor-boton {
  display: flex;
  justify-content: center;
}

.btn-entrar {
  width: 100%;
  height: 52px;

  background-color: #078265 !important;
  color: white !important;

  border-radius: 30px !important;

  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.btn-entrar:active {
  background-color: #165143 !important;
}

/* Footer */
.auth-footer {
  text-align: center;
  margin-top: 1.5rem;
}

.auth-footer p {
  color: #6B7280;
  font-size: 0.95rem;
}

.link-accion {
  color: #3E8F7C;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.link-accion:hover {
  text-decoration: underline;
}

/* Angular Material */
::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 8px !important;
}


.login-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.95rem;
  color: #4b5563;

  a {
    margin-left: 0.3rem;
    color: #0f8b6d;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}