
.libro-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden; 
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 240px; 
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }
}

.portada-wrapper {
  position: relative;
  width: 100%;
  height: 340px;
  background-color: #f3f4f6; 

  .portada-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  
  .btn-favorito {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(4px); 
    border-radius: 50%;
    transition: background-color 0.2s ease;

    &:hover { background-color: rgba(255, 255, 255, 1); }
  }

  .btn-esquina{
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.95);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    z-index: 10;
  }

  .btn-esquina mat-icon{
    color: #555;
    font-size: 22px;
    width: 22px;
    height: 22px;
  }

  .btn-favorito {
    bottom: 8px;
    right: 8px;
  }

  .corazon-rojo {
    color: #ef4444 !important; 
  }
}


.info-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.titulo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1f2937;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.autor {
  font-size: 0.9rem;
  color: #6b7280;
  margin: 0;
}


.puntuacion {
  display: flex;
  align-items: center;
  gap: 2px;

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  .star-gold { color: #FFD700; }
  .star-gray { color: #e5e7eb; } 
}


.estado-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  align-self: flex-start; 
  color: white;
}

.badge-leyendo { background-color: #ea9121; }
.badge-leidos { background-color: #ec4899; }
.badge-pendientes { background-color: #3b82f6; }
.badge-default { background-color: #9ca3af; }


@media (max-width: 600px) {
  .libro-card {
    max-width: none !important;
    width: 100%;
    border-radius: 10px;
  }

  .portada-wrapper {
    height: 210px !important;
  }

  .info-container {
    padding: 0.7rem;
    gap: 5px;
  }

  .titulo {
    font-size: 0.8rem;
  }

  .autor {
    font-size: 0.72rem;
  }

  .puntuacion mat-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
  }

  .estado-badge {
    font-size: 0.65rem;
    padding: 3px 8px;
  }
}