<div class="header-principal">
  
  <div class="logo-contenedor">
    <img src="/img/icono-biblioteca.jpg" alt="Logo" class="logo-img">
    <h1 class="logo-biblioteca">Biblioteca</h1>
  </div>

  <div class="acciones-usuario">
    
    <button mat-icon-button (click)="irAPerfil()" matTooltip="Ver perfil" class="btn-perfil">
       <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-button (click)="cerrarSesion()" class="btn-logout">
       <mat-icon>exit_to_app</mat-icon> Cerrar sesión
    </button>

   

  </div>
</div>

<app-barra-principal></app-barra-principal>

<main class="app-container">
  
  <div class="contenedor-acciones-top" *ngIf="libros.length > 0">
    <button mat-flat-button class="btn-agregar-top" (click)="agregarLibroTemporal()">
      <mat-icon>add</mat-icon> Agregar libro
    </button>
  </div>

  <app-buscador-filtros (filtrosCambio)="actualizarTitulo($event)"></app-buscador-filtros>

  <div class="estado-vacio" *ngIf="libros.length === 0">
    <div class="icono-vacio">
      <mat-icon>auto_stories</mat-icon> 
    </div>
    <h2>No tienes ningún libro por el momento</h2>
    <p>Puedes comenzar a agregar libros pulsando el siguiente botón</p>
    
    <button mat-flat-button class="btn-agregar-center" (click)="agregarLibroTemporal()">
      Agregar libro
    </button>
  </div>

  <div class="layout-principal" *ngIf="libros.length > 0">
    
    <div class="seccion-libros">
      <h2 class="titulo-seccion">{{ tituloSeccion }}</h2>

      <div class="grid-tarjetas">
        <app-libro-card *ngFor="let libroItem of libros" [libro]="libroItem"></app-libro-card>
      </div>
    </div>

    <div class="seccion-sidebar">
      <app-resumen-estadisticas [libros]="libros"></app-resumen-estadisticas>
    </div>

  </div>

  
</main>