.detalle-container{
  background:#edf7ef;
  padding:40px;
  min-height:100vh;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:40px;
}

.btn-volver{
  border:none;
  background:none;
  font-size:24px;
  cursor:pointer;
}

.acciones{
  display:flex;
  gap:15px;
  align-items:center;
}

.favorito{
  font-size:28px;
}

.corazon{
    color: #e53935;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: default;
}

.btn-editar{
  background:#d9f0d2;
  border:1px solid #98c98d;
  padding:8px 15px;
  border-radius:6px;
  cursor:pointer;
}

.btn-eliminar{
  background:#f5d9d9;
  border:1px solid #d8aaaa;
  padding:8px 15px;
  border-radius:6px;
  cursor:pointer;
}

.contenido{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

.portada{
  width:340px;
  height:500px;
  object-fit:cover;
  border-radius:8px;
}

.autor{
  margin-top:-10px;
}

.estado{
  background:#f0ab2f;
  color:white;
  padding:5px 12px;
  border-radius:6px;
  display:inline-block;
}

.estrellas{
  display:flex;
  gap:6px;
  margin:20px 0;
  font-size:30px;
}

.info-grid{
    display:grid;
    grid-template-columns:240px auto;
    row-gap:18px;
    column-gap:30px;
}

.estrellas span {
  color: #d6d6d6;
}

.estrellas span.activa {
  color: #f5b301;
}

.columna-resena{
  width:500px;
  line-height:1.8;
  font-size:15px;
  margin-top: 100px;
  text-align: justify;
  margin-right: 30px;
}

.columna-info h2{
  font-size:58px;
  margin:0;
  line-height:1.05;
}

.columna-info{
  font-size: 15px; 
  flex:1;
  margin-right: 70px;
  margin-top: 20px;
}

.columna-portada{
    margin-right:70px;
    margin-left: 30px;
}

.autor{
  font-size:20px;
  color:#4f4f4f;
  margin-top:0;
  margin-bottom:20px;
}