<div class="perfil-pantalla">
 
  <div class="perfil-card">

    

    <div class="perfil-header">
      <button class="btn-volver" type="button" (click)="volver()">
  <mat-icon>arrow_back</mat-icon>
</button>
      <h2>Mi Perfil</h2>
    </div>

    <div class="perfil-contenido">
      

      <!-- IZQUIERDA -->
      <div class="avatar-section">
<div class="seccion-titulo">
    <h3>Información personal</h3>
    <div class="linea"></div>
  </div>
        <div class="avatar-container">
          <img
            [src]="usuario.fotoPerfil"
            alt="Foto de perfil"
            class="avatar-img"
          />

          <input
            type="file"
            #fileInput
            accept="image/*"
            (change)="onFotoSeleccionada($event)"
            hidden
          />
        </div>

        <button
          mat-flat-button
          class="btn-cambiar-foto"
          (click)="fileInput.click()"
        >
          Cambiar foto
        </button>

      </div>

      <!-- DERECHA -->
      <div class="info-container">

        <div class="info-item">
          <span class="label">Nombre de usuario</span>

          <div class="valor">
            <mat-icon>person</mat-icon>
            <span>{{ usuario.nombre }}</span>
          </div>
        </div>

        <div class="info-item">
          <span class="label">Correo electrónico</span>

          <div class="valor">
            <mat-icon>mail</mat-icon>
            <span>{{ usuario.correo }}</span>
          </div>
        </div>

        <button
          mat-flat-button
          class="btn-guardar"
          (click)="guardarCambios()"
        >
          Guardar Cambios
        </button>

      </div>

    </div>

  </div>
</div>